<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon">

    <title>Whatsapp Web</title>

    <!-- Third party libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>

    <!-- Custom css -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- APP VUE JAVASCRIPT -->
    <main id="app">
        <!-- BARRA BACKGROUND -->
        <div class="backgroundNav"></div>
        <!-- CONTAINER CENTRALE -->
        <div class="mainContainer container d-flex">
            <!-- SIDE LEFT -->
            <div class="users d-flex flex-column">
                <!-- HEADER LEFT SIDE -->
                <div class="headerUsers d-flex flex-column">
                    <!-- ACCOUNT USER PROPRIETARIO -->
                    <div class="mainUser d-flex justify-content-between flex-row">
                        <!-- IMMAGINE USER -->
                        <div class="avatar d-flex p-2 gap-2">
                            <div style="height: 40px; aspect-ratio: 1/1;"
                                class="avatar d-flex align-items-center rounded-circle overflow-hidden">
                                <img class="img-fluid" src="img/avatar_4.jpg" alt="">
                            </div>
                            <!-- NAME USER -->
                            <div class="nameMainUser d-flex align-items-center p-1">
                                <h6>Sofia</h6>
                            </div>
                        </div>
                        <!-- ICON RIGHT SIDE -->
                        <div class="icons d-flex align-items-center flex-row gap-3 me-2">
                            <div class="icon">
                                <i class="fa-solid fa-spinner"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-regular fa-message"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <!-- NOTIFICHE -->
                    <div class="notifiche d-flex align-items-center flex-row p-2 gap-3">
                        <div style="height: 40px; aspect-ratio: 1/1;"
                            class="bellIcon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notificheText d-flex flex-column">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p class="text-decoration-underline">Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- SEARCH CHAT -->
                    <div class="search d-flex flex-row align-items-center p-2 gap-3 mt-1">
                        <i class="fa-solid fa-magnifying-glass align-items-center"
                            style="font-size:14px; color:grey;"></i>
                        <form class="searchbar d-flex align-items-center">
                            <input class="rounded"
                                style="width: 100%; height: 15px; border:0; font-size: 12px; font-weight: 600;"
                                type="text" placeholder="Cerca chat esistente" v-model="searchUser">
                        </form>

                    </div>
                </div>
                <!-- USERS LEFT SIDE -->
                <div class="avatarUsers d-flex flex-column ms-2 mt-3">
                    <!-- SINGLE USER -->

                    <!-- usiamo la funzione che ci filtra tutti gli utenti corrispondenti al nome inserito, il v-for veine fatto sulla funzione che si aggiorna in tempo reale -->
                    <div class="User d-flex flex-row align-items-center p-1 gap-2 mb-2" v-for="(user,i) in fnsearchUser"
                        :key="i + user.name" @click="selectedUser = user">
                        <div style="height: 50px; aspect-ratio: 1/1;"
                            class="avatar d-flex align-self-center rounded-circle overflow-hidden">
                            <img class="img-fluid" :src="`img/avatar${user.avatar}.jpg`" alt="">
                        </div>
                        <!-- INFO SINGLE USER -->
                        <div class="notificheText d-flex flex-column flex-fill align-self-start">
                            <h6>{{user.name}}</h6>
                            <p class="grey">ultimo messaggio inviato</p>
                        </div>
                        <!-- TIME SINGLE USER -->
                        <div class="time align-self-start">
                            <p>12.00</p>
                        </div>

                    </div>



                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="chat d-flex flex-column ms-2">
                <!-- USER USER CHAT -->
                <div class="currentUser d-flex flex-row p-2 gap-2">
                    <!-- PHOTO USER -->
                    <div style="height: 40px; aspect-ratio: 1/1;"
                        class="avatar d-flex align-items-center rounded-circle overflow-hidden">
                        <img class="img-fluid" :src="`img/avatar${selectedUser.avatar}.jpg`">
                    </div>
                    <!-- INFO USER -->
                    <div class="d-flex flex-column flex-fill">
                        <h6>{{selectedUser.name}}</h6>
                        <p class="grey">Ultimo accesso oggi alle 12.00</p>
                    </div>
                    <!-- ICONS RIGHT SIDE -->
                    <div class="d-flex flex-row gap-3 align-items-center">
                        <div class="icon">
                            <i class="fa-solid fa-magnifying-glass grey"></i>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-paperclip grey"></i>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-ellipsis-vertical grey"></i>

                        </div>

                    </div>
                </div>
                <!-- MESSAGE CHAT -->
                <div class="currentChat d-flex flex-column">

                    <div v-for="(message, i) in selectedUser.messages" class="message d-flex gap-2"
                        :class="message.status === 'sent' ? 'messageWhite' : 'messageGreen'">
                        <p>{{message.message}}</p>
                        <p>{{message.date}}</p>

                    </div>
                </div>
                <!-- FOOTER CHAT -->
                <div class="footerChat d-flex flex-row align-items-center justify-content-between p-1">
                    <!-- ICON LEFT SIDE -->
                    <div class="icon p-2 me-3">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <!-- INPUT TEXT MESSSAGE -->
                    <form class="flex-grow-1" @submit.prevent="sentNewMessage()">
                        <input class="rounded flex-fill" style="border:0; font-size:12px; width: 100%;" type="text"
                            placeholder="inserisci un nuovo messaggio" v-model="newMessage.message">
                    </form>

                    <!-- ICON RIGHT SIDE -->
                    <div class="icon p-2 ms-3">
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </div>

            </div>

        </div>






        </div>
    </main>

    <script src="js/main.js"></script>
</body>

</html>